body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

.input-area {
    margin: 20px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background: red;
    color: white;
    cursor: pointer;
}

.board {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.coluna {
    width: 30%;
    background: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #333;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

/* STATUS */
.dev { background: #3498db; }
.teste { background: #f1c40f; color: black; }
.aprovado { background: #2ecc71; }

/* CONCLUÍDA */
.concluida span {
    text-decoration: line-through;
    opacity: 0.6;
}